<h1>Editar uma promoção</h1>

<%= render partial: "form", locals: { promotion: @promotion,
                                      promotion_product_categories: @promotion_product_categories,
                                      generated_coupons: @generated_coupons } %>